/weather_data/
/outage_data/
/processed_data/
/Results/
/Eagle-idatasets/eaglei_outages_2014.csv
/Eagle-idatasets/eaglei_outages_2015.csv
/Eagle-idatasets/eaglei_outages_2016.csv
/Eagle-idatasets/eaglei_outages_2017.csv
/Eagle-idatasets/eaglei_outages_2018.csv
/Eagle-idatasets/eaglei_outages_2019.csv
/Eagle-idatasets/eaglei_outages_2020.csv
/Eagle-idatasets/eaglei_outages_2021.csv
/Eagle-idatasets/eaglei_outages_2022.csv
/Eagle-idatasets/eaglei_outages_2023.csv
/Eagle-idatasets/eaglei_outages_2024.csv
